{% extends 'base/base.html' %}
{% block content %}
        <h1>Tax Calculator 2014/2015</h1>
        <div class="ct-chart"></div>
        
        <div id="input_area">
            <label for="salary">Salary</label>
            <input id="salary" name="salary" type="text">
            <p id="Wages"></p>
            <p id="tax"></p>
            <p id="take-home"></p>
            <p id="monthly-take-home"></p>
            <p id="weekly"></p>
            <p id="hourly"></p>
        </div>
{% endblock %}